* {
  box-sizing: border-box;
}

/*Navigation*/
header {
  height: 6rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 5rem;
  z-index: 10;
}
.logo {
  display: inline-block;
}
.logo > img {
  width: 5rem;
  height: 5rem;
}

.navigation {
  display: inline-block;
}
.navigation > a {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

/*Video*/
.video {
  width: 100%;
}

/*About*/
.grid-container-about {
  display: grid;
  grid-template-columns: auto auto;
  padding: 50px;
  text-align: center;
}
.grid-item-about-content > h1 {
  text-align: left;
  font-size: 3rem;
  color: #caa880;
  padding: 50px 0;
}
.grid-item-about-content > p {
  text-align: justify;
  line-height: 40px;
  font-size: 1.2rem;
  color: #3b4964;
}
.grid-item-about > img {
  width: 100%;
  height: auto;
  border-radius: 50px;
  padding: 35px;
  /* object-fit: cover; */
}

#services > h1 {
  font-size: 3rem;
  color: #caa880;
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 70px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  padding: 50px;
  text-align: center;
}
.grid-item > h2 {
  color: #caa880;
  font-size: 2rem;
  padding: 20px;
}
.grid-item > p {
  font-size: 15px;
  padding: 20px;
  line-height: 30px;
}
.grid-item > img {
  width: 15%;
}

#slogan {
  background: #000 url("images/medi-3.jpg");
  color: #fff;
  height: 300px;
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  position: relative;
  text-align: center;
  margin-top: 100px;
}
.descriere {
  font-size: 1.5rem;
  margin-left: 60px;
  margin-right: 60px;
}

.footer {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 50px;
}
.footer h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}
.footer address {
  margin-bottom: 15px;
}
.copyright {
  text-align: center;
  margin: 20px;
}
